.header-nav .list {
    width: 320px;
    min-width: 320px;
    justify-content: center;
    display: flex;
    margin-left:calc(50% - 160px) ;
    text-align: center;
}

.header-nav div .list-nav {
    margin-bottom: 10px;
}
