
.header-contact {
    min-width: 320px;
}

.header-logo {
    display: inline-block;
}

.header-logo div .image-logo{
    width: 100%;
    height: auto;
    padding-left: 0;
}

.nav li {
    margin: 0 12px;
}